.btn {
    height: 54px;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    outline: none;
    transition: all .5s;
    color: $blue;
    font-size: $px16;
    padding: 0 32px;
    border-radius: 8px;
    font-weight: 600;
    @include media-1199 { 
        font-size: $px15;
    }
    @include media-991 {
        padding: 0 22px;
    }
    @include media-767 { 
        padding: 0 17px;
        height: 48px;
    }
    &.btn-sm {
        height: 46px;
        padding: 0 25px;
        @include media-1199 { 
            padding: 0 20px;
        }
        @include media-767 { 
            padding: 0 15px;
            height: 42px;
        }
    }
    &.btn-primary {        
        background-color: $blue;
        border: 1px solid $blue;
        color: $white;
        &:hover{
            color: $blue;
            background-color: $white;
        }        
    }  
    &.btn-secondary{
        background-color: $white;
        border: 1px solid $white;
        color: $blue;
        &:hover{
            color: $white;
            background-color: transparent;
        }
    } 
    &.btn-trinary{
        border: 1px solid $blue;
        background-color: transparent;
        color: $blue;
        &:hover{
            color: $white;
            background-color: $blue;
        }
    }
}
