
img{max-width: 100%; }
a {transition: all .3s; color: inherit; text-decoration: none}
* ,
ul , li, ol {
	padding:0; 
	margin:0;
}
em {
	font-style: italic;
}
figure{margin: 0; padding: 0}
a {
	color: inherit;
}
a:hover{
	color: $blue;
}
html {
	scroll-behavior: smooth;
}
body {
	height: 100vh;
	padding: 0;
	margin: 0;  
	font-weight: 500;
	font-size: $px14;
	line-height: 1.46;
	color: $primaryColor;
	font-family: $font-family-sans-serif;
	box-sizing: border-box;
	@include media-991 {		
		font-size: 20px;
	}    
	@include media-767 {
		font-size: 18px;
	} 
}
* {
	box-sizing: border-box;
}
.img-0{
	font-size: 0;
}
ul , ol {
	list-style: none;
}
.container {
	width: 1340px;
	padding: 0 15px;
    max-width: 100%;
	margin: 0 auto;
}
.container-fluid {
	padding-left: 25px;
	padding-right: 25px;
	@include media-max-1339 {
		padding-left: 15px;
		padding-right: 15px;
	}
}
h1 {
	font-weight: 600;
	line-height: 1.10;
	font-size: $px64;
	@include media-max-1339 {
		font-size: $px58;
	}
	@include media-1199  {
		font-size: $px48;
	}
	@include media-991 {
		font-size: $px42
	}
	@include media-767 {
		font-size: $px36;
	}
	@include media-575 {
		font-size: $px30;
	}
}
h2 {
	font-size: $px60;
	line-height: 1.15;
	font-weight: 600;
	@include media-max-1339 {
		font-size: $px54;
	}
	@include media-1199  {
		font-size: $px46;
	}
	@include media-991 {
		font-size: $px40
	}
	@include media-767 {
		font-size: $px32;
	}
	@include media-575 {
		font-size: $px27;
	}
}
h3 {
	font-size: $px44;
	line-height: 1.10;
	font-weight: 600;
	color: $secondaryColor;
	@include media-1199 {
		font-size: $px40;
	}
	@include media-991 {
		font-size: $px36;
	}
	@include media-767 {
		font-size: $px32;
	}
	@include media-575 {
		font-size: $px26;
	}
}
h4 {
	// font-size: 27px;
	// color: #ccd251;
	// font-weight: 500;
	// @include media-1209 {
	// 	font-size: 25px;
	// }
	// @include media-991 {
	// 	font-size: 22px;
	// }
	// @include media-767 {
	// 	font-size: 20px;
	// }
	// @include media-575 {
	// 	font-size: 18px;
	// }
}
h5 {
	font-size: $px24;
	line-height: 1;
	color: $secondaryColor;
	@include media-1199 {
		font-size: $px22;
	}
	@include media-991 {
		font-size: $px20;
	}
	@include media-767 {
		font-size: $px18;
	}
	@include media-575 {
		font-size: $px17;
	}
}
h6 {
	font-size: $px18;
	line-height: 1.33;
	color: $black;
	font-weight: bold;
	@include media-991 {
		font-size: 16px;
	}
	@include media-767 {
		font-size: 14px;
	}
}
.img-cover {
	font-size: 0;
	> video , > iframe , > picture ,
	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

}
.img-cover picture  {
	display: block;
}
.img-cover picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.bg-blue {
	border-radius: 20px;
	background-color: $darkBlue;
	color: $white;
}
.bluetext{
	color: $blue;
}

.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}
.align-items-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.align-items-start{
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
}
.align-items-end{
	-webkit-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
}
.justify-content-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.justify-content-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flex-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.position-absolute {
	position: absolute;
}
.position-relative {
	position: relative;
}
.h-100{
	height: 100%;
}
.w-100 {
	width: 100%;
}
.end-0 {
	right: 0;
}
.bottom-0 {
	bottom: 0;
}
.d-none {
	display: none;
}
.start-0 {
	left: 0;
}
.top-0 {
	top: 0;
}
.text-center {
	text-align: center;
}
.row{	
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	> div {
		padding: 0 15px;
	}
}
.col-6{
	flex: 0 0 50%;
	width: 50%;
	max-width: 50%;
	padding-left: 15px;
	padding-right: 15px;
}
.col-12 {
	flex: 0 0 100%;
	width: 100%;
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.font-0{
	font-size: 0;
}
@include media-min-575 {	
	.text-sm-start {
		text-align: left;
	}
	.justify-content-sm-start {
		justify-content: flex-start;
	}
	.col-sm-6{
		flex: 0 0 50%;
		width: 50%;
		max-width: 50%;
		padding-left: 15px;
		padding-right: 15px;
	}
}
@include media-min-768 {
	.col-md-3{
		flex: 0 0 25%;
		width: 25%;
		max-width: 25%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.col-md-6{
		flex: 0 0 50%;
		width: 50%;
		max-width: 50%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.col-md-5 {
		flex: 0 0 41.666667%;
		width: 41.666667%;
		max-width: 41.666667%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.col-md-7 {
		flex: 0 0 58.333333%;
		width: 58.333333%;
		max-width: 58.333333%;
		padding-left: 15px;
		padding-right: 15px;
	  }
	.d-md-block {
		display: block;
	}
	.d-md-none {
		display: none;
	}
}
@include media-min-992 {
	.col-lg-3{
		flex: 0 0 25%;
		width: 25%;
		max-width: 25%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.col-lg-6 {
		flex: 0 0 50%;
		width: 50%;
		max-width: 50%;
		
		padding-left: 15px;
		padding-right: 15px;
	}
	.d-lg-flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.d-lg-none {
		display: none;
	}
	.col-lg-4 {
		flex: 0 0 33.33%;
		width: 33.33%;
		max-width: 33.33%;
		
		padding-left: 15px;
		padding-right: 15px;
	}
}

.mb-135 {
	margin-bottom: 135px;
	@include media-1199  {
		margin-bottom: 100px;
	}
	@include media-991  {
		margin-bottom: 75px;
	}
	@include media-767   {
		margin-bottom:60px;
	}
	@include media-575  {
		margin-bottom: 50px;
	}
}

.m-0 {
	margin: 0 !important;
}