

$white : #fff;
$body-bg :$white ;
$black :#000000;
$body-color: $black;
$primaryColor: $body-color;
$secondaryColor: #000316;
$trinaryColor: rgba(0,0,0,.7);
$whiteLight : rgba(255,255,255,.7);
$blue : #344BBD;
$lightBlue : rgba(149, 164, 244, 0.3);
$lightBlue01 : rgba(149, 164, 244, 0.6);
$lightBlue02 : #8291DD;
$lightBlue03 : #B0BAF4;
$darkBlue : #010B53;
$sky_color : #4997ca;
$grayColor : #929292;
$grayColor02: #8388A1;
$form_border : rgba(131,136,160,0.40);
$font-family-sans-serif: "Urbanist", sans-serif;;


