.featured-cases-section {
    h3 {
        margin-bottom: 30px ;
        @include media-991 {
            margin-bottom: 20px;
        }
    }
}

.cases-item{
    max-width: 555px;
    min-height: 285px;
    padding: 32px;
    margin-right: 32px;
    color: $white;
    background-image: url('../images/blue-pattern-bg.svg');
    background-size: cover;
    background-position: bottom right;
    @include border-radius(20px);
    border-bottom-right-radius: 0;
    overflow: hidden;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    @include media-991 {
        padding: 22px;
        max-width: 455px;
        min-height: 250px;
        margin-right: 20px;
    }
    @include media-767 {
        padding: 20px 15px;
        max-width: 430px;
        min-height: 240px;
        margin-right: 10px;
    }
    @include media-575 {
        min-height: 220px;
        @include border-radius(12px);
        border-bottom-right-radius: 0;
        margin-right: 0;
        max-width: 100%;
    }
    h4 {
        color: inherit;
        font-weight: 600;
        margin-bottom: 10px;;
    }
    ul {
        margin-left: 18px;
        font-size: $font-18-14;
        display: flex;
        flex-direction: column;
        gap: 14px;
        max-width: 80%;
        list-style: disc;
        @include media-575 {
            gap: 6px;
        }
        li {
            list-style: disc;
        }
    }
    .case-link{
        font-size: 0;
        @include border-radius(11px);
        overflow: hidden;
        @include media-575 {
            @include border-radius(8px);
        }
        &:hover{
            background: #3d4dbb;
            
            svg {
                path {
                    stroke: #fff;
                }
            }
        }
        
        @include media-767 {
            svg {
                width: 56px;
                height: 56px;
            }
        }
        @include media-575 {
            svg {
                width: 52px;
                height: 52px;
            }
        }
    }
}

.cases-slider{
    @include media-575 {
        padding-right: 15px;
        padding-left: 15px !important;
    }
}

.solution-text-in {
    @include font-size(16);
    gap: 50px;
    @include media-max-1339 {
        gap: 40px;
    }
    @include media-1199 {
        gap: 30px;
    }
    @include media-991 {
        gap: 25px;
    }
    @include media-575 {
        gap: 20px;
    }
    p{
        color: $trinaryColor;
    }
    h4 {
        font-weight: 600;
        margin-bottom: 18px;
    }
    ul {
        margin-left: 18px;        
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: $font-16-14;
        
    }
}
.slick-list {
    @include media-min-768{
        overflow: initial !important;
    }
}
.cases-slider{
    padding-bottom: 56px;
    @include media-991 {
        padding-bottom: 45px;
    }
    @include media-575 {
        padding-bottom: 32px;
    }
}
.slick-dots {
    bottom: 0;
    left: 0;
	li {
		width: 56px;
		height: 8px;
		margin: 0 8px; 
		background-color: $lightBlue;
		@include border-radius(4px);
		@include media-767   {
			width: 25px;
			height: 4px;
		}
        &.slick-active {
            background-color: $blue;
        }
		* {
			display: none !important;
		}
	}
}