.top-footer {
    padding: 165px 0 40px;
    color: $white;
    font-size: $font-16-14;
    font-weight: 500;
    line-height: 1.38;
    @include media-767 { 
        text-align: center;
    }
    p{
        margin: 0;
    }    
    .flex-row {
        row-gap: 25px ;
    }
    .logo {
        margin-bottom: 25px;
        @include media-575 {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    @include media-767 {
        padding: 40px 0 25px;
    }
    @include media-575 {
        text-align: center;
    }  
    .footer-row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        row-gap: 20px;
        > div {
            padding: 0 15px;
            flex: 0 0 50%;
            width: 50%;
            max-width: 50%;
            @include media-991 {
                flex: 0 0 41.666667%;
                width: 41.666667%;
                max-width: 41.666667%;
            }
            @include media-767 {
                flex: 0 0 100%;
                width: 100%;
                max-width: 100%;
            }
            &.footer-menus-wrap{
                @include media-991 {
                    flex: 0 0 58.333333%;
                    width: 58.333333%;
                    max-width: 58.333333%;
                }
                @include media-767 {
                    flex: 0 0 100%;
                    width: 100%;
                    max-width: 100%;
                    
                }
                @include media-575 {
                    justify-content: center;
                }
            }
        }
        .footer-menus-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: left;
            @include media-767 {
                text-align: center;
            }
        }
       
    }  
}
.btm-footer {
    padding: 15px 0;  
   
    ul {
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-between;
        align-items: center;
        @include font-size(14);
        li {
            font-weight: 500;
            line-height: 1.45;
        }
        @include media-575 {
            @include font-size(12);
        }
    }
}
.footer-left{
    max-width: 394px;
    width: 100%;
    p{
        color:$whiteLight;
    }
    @include media-767 {
        margin: 0 auto;
    }
}
.footer-menus{
    gap: 20px;
    display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    @include media-767 {
        gap: 15px;
    }
    p ,
    h6 {
        text-transform: uppercase;
        color: $lightBlue02;
        line-height: 1.48;
        font-size: $font-16-14 ;
        margin: 0;
    }
    ul {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        @include media-767 {
            gap: 15px;
        }
    }
}
.footer-contact{
    padding-top: 100px;
    row-gap: 20px;
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include media-991 {
        padding-top: 65px;
    }
    @include media-767 {
        padding-top: 50px;
    }
    @include media-575 {
        padding-top: 35px;
    }
}
.contact-links {
    gap: 60px ;
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    @include media-1199 {
        gap: 40px;
    }
    @include media-575 {
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }
    li {
        font-size: clamp(17px, 2.083vw + 10.33px, 40px);;
        font-weight: 400;
        line-height: 1;
        @include media-575 {
            width: 100%;
            text-align: center;
        }
    }
}
.social-icons {
    @include font-size(21);
    gap: 25px;
    display: flex;
	flex-wrap: wrap;
    color: $lightBlue03;
    justify-content: flex-start;
    @include media-575 {
        width: 100%;
        justify-content: center;
    }
    li {
        a:hover {
            opacity: 0.6;
        }
    }
}
.footer-menus-wrap {
    @include media-575 {
        row-gap: 30px;
        justify-content: center;
        .footer-menus {
            width: 50%;
            max-width: 50%;
            &:nth-child(2) {
                order: 1;
            }
        }
    }
}