.global-clients{
    .container {
        display: flex;
	    flex-wrap: wrap;
        justify-content: space-between;
    }
    .heading-3 {
        margin-bottom: 30px;
        strong {
            color: $blue;
        }
    }
    .global-clients-left{
        max-width: 100%;
        width: 430px;
        @include media-991 {
            max-width: 50%;
            padding-right: 20px;
            width: 50%;
        }
        @include media-767 {
            max-width: 100%;
            padding-right: 0px;
            width: 100%;
        }
    }
    .global-clients-right {
        max-width: 740px;
        width: calc(100% - 450px);
        @include media-991 {
            max-width: 50%;
            width: 50%;
        }
        @include media-767 {
            max-width: 100%;
            padding-right: 0px;
            padding-top: 40px;
            width: 100%;
        }
        @include media-575 {           
            padding-top: 25px;
        }
    }
}
.client-review{
    padding-left: 80px;
    position: relative;
    p {
        strong {
            color: $darkBlue;
            font-weight: 700;
        }
        .position {
            color: $trinaryColor;
            display: block;
        }
        + p {
            margin-top: 20px;
        }
    }
    @include font-size(16);
    @include media-991 {
        padding-left: 60px;
    }
}
.client-image {
    border-radius: 50%;
    height: 56px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
    @include media-991 {
        height: 44px;
        width: 44px;
    }
}
.global-clients-right{
    ul {
        border-top: 1px solid $lightBlue;
        display: flex;
	    flex-wrap: wrap;
        width: 100%;
        &:last-child{
            border-bottom: 1px solid $lightBlue;
            margin-top: -1px;
        }
        li {
            width: 33.3333%;
            + li {
                border-left:  1px solid $lightBlue;;
            }
            a {
                align-items: center;
                display: flex;
	            flex-wrap: wrap;
                height: 100%;
                justify-content: center;
                padding: 25px 0;
                width: 100%;
                &:hover {
                    background-color: $blue;
                }
                @include media-991 {
                    padding: 20px 0;
                }
                @include media-575 {   
                    padding: 15px 0;
                }                
            }
            img {
                max-width: 80%;
                @include media-991 {
                    max-height: 76px ;
                }
            }
        }
        &:nth-child(even) {
            li {
                width: 30%;
                &:last-child {
                    width: 40%;
                }
            }
        }
    }
}