.global-clients{
    h3 {
        margin-bottom: 30px;
        strong {
            color: $blue;
        }
    }
    .global-clients-left{
        width: 430px;
        max-width: 100%;
        @include media-991 {
            max-width: 50%;
            width: 50%;
            padding-right: 20px;
        }
        @include media-767 {
            max-width: 100%;
            width: 100%;
            padding-right: 0px;
        }
    }
    .global-clients-right {
        width: calc(100% - 450px);
        max-width: 740px;
        @include media-991 {
            max-width: 50%;
            width: 50%;
        }
        @include media-767 {
            max-width: 100%;
            width: 100%;
            padding-right: 0px;
            padding-top: 40px;
        }
        @include media-575 {           
            padding-top: 25px;
        }
    }
}
.client-review{
    @include font-size(16);
    padding-left: 80px;
    @include media-991 {
        padding-left: 60px;
    }
    p {
        strong {
            font-weight: 700;
            color: $darkBlue;
        }
        .position {
            display: block;
            color: $trinaryColor;
        }
        + p {
            margin-top: 20px;
        }
    }
}
.client-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    @include media-991 {
        width: 44px;
        height: 44px;
    }
}
.global-clients-right{
    ul {
        width: 100%;
        
        border-top: 1px solid $lightBlue;
        &:last-child{
            margin-top: -1px;
            border-bottom: 1px solid $lightBlue;
        }
        li {
            width: 33.3333%;
            + li {
                border-left:  1px solid $lightBlue;;
            }
            a {
                padding: 25px 0;
                width: 100%;
                height: 100%;
                &:hover {
                    background-color: $blue;
                }
                @include media-991 {
                    padding: 20px 0;
                }
                @include media-575 {   
                    padding: 15px 0;
                }
                
            }
            img {
                max-width: 80%;
                @include media-991 {
                    max-height: 76px ;
                }
            }
        }
        &:nth-child(even) {
            li {
                width: 30%;
                &:last-child {
                    width: 40%;
                }
            }
        }
    }
}