.header {
    padding: 20px 0;
    z-index: 123;
    position: sticky;
    top: 0;
    background-color: $white;
    position: relative;
    .container-fluid {
        display: flex;
	    flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}
.logo {
    font-size: 0;
    img {
        width: 205px;
        @include media-1199 { 
            width: 170px;
        }
        @include media-767 { 
            width: 160px;
        }
    }
}
.main-menu {
    > ul {
        @include media-min-992 {
            display: flex;
        }
        >li {
            cursor: pointer;
        }
    }
    ul {
        @include font-size(18);
        gap: 24px;
        line-height: 1.33;
        font-weight: 500;
        @include media-max-1339 {
            gap: 15px;
            @include font-size(16);
        }
        @include media-1199 {
            gap: 13px;
            @include font-size(13);
        }
        @include media-991 {
            @include font-size(17);
        }
        @include media-767 {
            @include font-size(16);
        }
        li {
            position: relative;
            padding: 4px 0;
            
            @include media-min-992 {
                align-items: center;
                gap: 5px;
                display: flex;
            }
            @include media-max-1339 {
                gap: 3px;
            }
            @include media-991 {
                padding: 4px 24px;
            }
            @include media-767 {
                padding: 3px 15px;
            }
            a {
                @include media-991 {
                    display: block;
                    padding: 5px 0;
                }
            }
            &:hover {
                .sub-menu{
                    opacity: 1;
                    visibility: visible;
                    margin-top: 0;                    
                }
            }
        }
        .dropdown  {
            background-image: url('../images/angle-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
            height: 16px;
            width: 16px;
            display: inline-block;
            transition: all .3s;
            @include media-991 { 
                position: absolute;
                top: 9px;
                right: 18px;
                width: 30px;
                height: 20px;
                background-size: 18px auto;
                &.active {
                    transform: rotate(180deg); 
                }
            }
        }
        .sub-menu{                                     
            transition: all .4s;
            li {
                padding: 5px 0;
                a {
                    &:hover {
                        color: $blue;
                    }
                }
            }
            @include media-min-992 {
                opacity: 0;
                visibility: hidden;
                margin-top: -15px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                width: 200px;
                padding: 10px 15px;    
                background-color: $white;
                @include border-radius(8px);   
                box-shadow: 0px 5px 21px -6px rgba(0,0,0,0.30);
                -webkit-box-shadow: 0px 5px 21px -6px rgba(0,0,0,0.30);
                -moz-box-shadow: 0px 5px 21px -6px rgba(0,0,0,0.30);            
                transition: all .4s;
            }
            @include media-991 {
                transition: none;
                display: none;
                padding-left: 15px;
            }           
        }
    }
}
.header-menus {
    gap: 32px;
    align-items: center;
    @include media-min-992 {
        display: flex !important;
    }
    @include media-max-1339 {
        gap: 20px;
    }
    @include media-1199 { 
        gap: 20px;
    }
    @include media-991 {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: $white;padding-bottom: 20px;
        @include menu-mob-shadow;
        .cust-btn {
            margin-left: 15px;margin-top: 5px
        }        
    }
}
#hamburger {
    width: 40px;
    height: 23px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    padding: 0;
    position: relative;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    @include media-min-992 {
        display: none;
    }
    @media (max-width: 767px) {
        width: 36px;
    }
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: $blue;
        border-radius: 0;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;         
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        top: 20px;
      }
    }  
    &.open{
        span{
            &:nth-child(1) {
                top: 10px;
                transform: rotate(130deg);
            }
            &:nth-child(3) {
                top: 10px;
                transform: rotate(-130deg);
            }
            &:nth-child(2){opacity: 0}
        }
    }    
}