.infrastructure-head {
    margin-bottom: 60px;
    gap: 20px;
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    @include media-991 {
        margin-bottom: 30px;
    }
    .infrastructure-right-top{
        max-width: 390px;
        @include media-991 {
            max-width: 100%;
        }
        p {
            @include font-size(16);
            margin-bottom: 12px;
            strong {
                font-weight: 600;
            }
        }        
    }
}
.infrastructure-wrapper{
    padding-top: 63px;
    margin: 0 -15px 0 0;
    display: flex;
	flex-wrap: wrap;
    .heading-4 , 
    h4 {
        font-size: $fluid-title-h5;
        line-height: 1;
    }
    + .infrastructure-wrapper {
        margin-top: 65px;
        @include media-767 {
            margin-top: 40px;
        }
    }
    @include media-1199 {
        margin: 0;
    }
}
.infrastructure-lightBlue {
    .infrastructure-left {
        display: flex;
	    flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        color: $secondaryColor;
        background-image: url('../images/light-blue-bg.svg');
        .number-text{
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.20));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;   
        }
    }
}
.infrastructure-left{
    background-image: url('../images/blue-pattern.svg');
    background-size: cover;
    background-position: top left;
    margin-top: -63px;
    @include border-radius(20px);
    overflow: hidden;
    padding: 40px ; 
    padding-bottom: 0;
    color: $white;
    @include media-767 {
        padding: 40px 25px; 
    }
    .heading-4 , 
    h4 {
        color: inherit;
        font-weight: 600;
    }
    .number-text{
        font-size: calc(200px + (400 - 200) * ((100vw - 320px) / (1920 - 320)));
        line-height: 0.75;
        font-weight: 300;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: -60px;
        @include media-767 {
            margin-bottom: -30px;
        }
    }
}

.infrastructure-wrapper  {
	.infrastructure-left{
		width: 42%;
        @include media-1199 {
            width: 49%;
            min-height: 300px;
        }
		@include media-991 {
            min-height: 255px;
        }
        @include media-767 {
            width: 100%;
            max-width: 400px;
        }
	}
	.infrastructure-right {
		width: 58%;
        display: flex;
	    flex-wrap: wrap;
		padding-left: 20px;
        @include media-1199 {
            width: 100%;
            padding: 25px 0 0;
        }        
		.infrastructure-row {
			margin: 0 -10px;
            flex: 1;
            display: flex;
	        flex-wrap: wrap;
            @include media-767 {
                row-gap: 20px;
            }
			> div {
				padding: 0 10px;
                flex: 0 0 50%;
                width: 50%;
                max-width: 50%;
                @include media-575 {
                    flex: 0 0 100%;
                    width: 100%;
                    max-width: 100%;
                }
			}
		}		
		.infrastructureBox{
			padding: 24px 32px;
			min-height: 330px;
            height: 100%;
            display: flex;
	        flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            @include border-radius(20px);
            @include media-max-1339 {
                padding: 15px 25px;
                min-height: 290px;
            }
            @include media-1199 {
                padding: 24px 32px;
            }
            @include media-767 {
                padding: 25px 20px;
                min-height: initial;
            }
            .heading-4 ,
			h4 {
				color: $white;
				font-weight: 600;
				margin-bottom: 66px;
                @include media-max-1339 {
                    margin-bottom: 30px;
                }
			}			
			ul {
				margin-left: 0;        
				display: flex;
				flex-direction: column;
				gap: 16px;
				list-style: disc;
                font-size: $font-16-14;
				color: $whiteLight;
                li {
                    list-style: none;
                    padding-left: 18px;
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 7px;
                        border-radius: 50%;
                        width: 8px;
                        height: 8px;
                        opacity: 0.7;
                        background-color: $white
                    }
                }
			}
			&.bg-blue-light{
				background-color: $lightBlue;
				ul , h4 ,.heading-4 {
					color: $secondaryColor;
				}
                ul {
                    li {
                        &:before {
                            background-color: $lightBlue01;
                            opacity: 1;
                        }
                    }
                }
			}
		}

	}
}