.why-choose-section {
    background-image: url(../images/why-choose-bg.jpg);
    padding: 65px 0;
    background-size: cover;
    background-position: center bottom;
    margin: 12px 0;
    @include border-radius(20px);
    .heading-3 {
        color: $white;
        @include media-575  {
            text-align: center;
        }   
    }
    @include media-991  {
		padding: 50px 0;
	}
	@include media-767   {
		padding: 40px 0;
        @include border-radius(12px);
	}
} 
.why-choose-row{
    max-width: 670px;
    row-gap: 80px;
    margin-top: 75px;
    display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	@include media-991  {
		margin-top: 60px;
        row-gap: 60px;
	}
	@include media-767   {
		margin-top: 45px;
        row-gap: 45px;
	}
	@include media-575  {
		margin-top: 30px;
        row-gap: 30px;
	}
    .choose-item-box{
        flex: 0 0 50%;
        width: 50%;
        max-width: 50%;
        padding-left: 15px;
	    padding-right: 15px;
    }
}
.choose-item {
    color: $white;
    max-width: 300px;
    width: 100%;
    @include media-575 { 
        text-align: center
    }    
    .choose-icons {
        @include gradientpurple;
        width: 82px;
        height: 82px;
        @include border-radius(16px);
        margin-bottom: 30px;
        font-size: 0;
        display: flex;
	    flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @include media-991 { 
            margin-bottom: 20px;
        }
        @include media-767 { 
            margin-bottom: 15px;
        }
        @include media-575  {
            margin: 0 auto 15px;
            width: 70px;
            height: 70px;
        }
    }
    .heading-4 {
        color: inherit;
        margin-bottom: 12px
    }
    p {
        color: inherit;
        font-weight: 400;
        margin: 0;
        font-size: $font-18-15;
    }
}
@supports (image-rendering: -webkit-optimize-contrast) {
    .why-choose-section {
        background-image: url('../images/why-choose-bg.webp');
    }
}